body {
    font-family: Arial, Helvetica, sans-serif;
    color: #2F242C;
    background: #E8E8E8;
}
.title {
    text-align: center;
    font-size: 50px;
}
.outertb {
    background: #C2B8B2; 
    text-align: center;
}
.taskbar {
    text-transform: uppercase;
    display: inline;
    padding: 0px 30px 0px 30px;
    font-size: 30px;
    justify-content: center;
    background-position-x: cover;
    background-position-y: 40px;
}
.bodyimage {
    text-align: center;
    font-size: 30px;
}
.contact {
    text-align: start;
    background: #C2B8B2;
    background-position-x: cover;
    background-position-y: 50px;
}