body {
    font-family: "Cabin", sans-serif;
    color: #f54291;
    background-color: palevioletred;
}

/* container for the page */

.container{
    background: white;
    border-radius: 10px;
    border-color: violet;
    box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    margin: 6% auto;
    width: 1168px;
    height: 800px;
    max-width: 100% ;
    min-height: 900px;
   flex: right 200px;
   align-items: center;

}

/* styling for the background */

#background {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    background: yellow;
    -webkit-clip-path: polygon(52% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(52% 0, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;
    transition: all .8s ease;
  }

  /* styling for text on page */

  .navbar{
    display: block;
    position:relative;
    list-style: none;
    justify-content: center;
    background-color:white;
    border: 6px  orangered;
    top: 10px;
    margin-right: 400px;
  }

h1{
    text-align: center;
    font-size: 60px;
    margin: 0px 20px;
    justify-content: center;
}
.fit {
    font-size: 40px;
    margin: -20px 0px 0px 0px;
    color: #6d0c74;
    transition: all 1s ease;

}
h3 {
    text-align: center;
    color: #6d0c74;
    justify-content: center;
}


  /* styling for buttons */

.bottom {
    background-color: #f54291;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 100px;
}

/* landing page */

.landing-box-1{
    background-color: transparent;
    display: inline-block;
    width: 500px;
    height: 500px;
    margin: 0;
    z-index: 10;
    top: -150px;
    position:relative;
    left:80px; 
    border-radius:50%;
    border-image: round;
    border: 3px bold black;
}
/*#woman-cycle{
    background-color: transparent;
    position: inherit;
    width: 860px;
    height: 660px;
    margin: 0;
    z-index: -100;
    top: 150px;
    position:relative;
    left:-100px;
    border-radius:50%;
    border-image: round;
    border: 3px bold black;

}*/
#sidenav{
    background-color: rgb(241, 125, 236);
    color:blue;
    position: absolute;
    z-index: 900;

}
/* woman cycling */

.img-circular{
    position:relative;
    display: block;
    width: 550px;
    height: 360px;
    top: 153px;
    margin: 0;
    border: 5px black;
    background-image: url('womanCycling.gif');
    background-size: cover;
    border: 5px dotted rgb(122, 3, 122);
    box-shadow: 0px 0px 0px 10px  yellow;
    border-radius: 50%;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    z-index: -100;
    left:-50px;
    text-align: right;
    animation-name: woman;
    animation-duration: 20s;
    animation-delay: 1s;
    z-index: 200;
  }
  
  @keyframes woman {
    0%   {background-color: red; left:0px;}
    50%  {background-color: yellow; left:500px;}
    100% {background-color: red; left:0px;}
  }
   
.fit{
    position: relative;
    top: -45px;
    z-index:1;
}
.landing-box-2{
    background-color: white;
    position:relative;
    display: inline-block;
    width: 900px;
    height: 400px;
    margin-left: 100px;
    top: -60px;
    z-index: 1;
    position:relative;
    left:10px;
    border: 5px black;
    border-radius: 30%; 
    text-align: center;
}

#landing-button{
    background-color: rgb(241, 125, 236);
    border: 5px dotted black;
    color:white;
    font-size: 30px;
    width: 800px;
    height: 60px;
    font-weight: 600px;
    margin-left: 100px;
    top: 200px;
    text-align: center;
    box-shadow: 0px 0px 0px 10px  yellow;
    -webkit-transition: width 2s; 
    transition: width 2s;
    border-radius: 50%;

}
#landing-button:hover{
    width: 200px;
}
.blinking{
    position: relative;
top: -50px;    
    animation:blinkingText 0.8s infinite;
    font-size: 70PX;
}
@keyframes blinkingText{
	0%{		color:red;	}
	49%{	color: transparent;	}
	50%{	color: transparent;	}
	99%{	color:transparent;	}
	100%{	color: #000;	}
}

.newsletter{
    background-color: white;
    display: inline-block;
    width: 1000px;
    height: 200px;
    margin-left: 100px;
    margin-right: 100px;
    top: -230px;
    z-index: 600;
    position:relative;
    left:10px;  
    height: 100px;
}
.newsletter-form{
        max-width: 350px;
        width: auto;
        padding: 20px;
        background: yellow;
        border: 3px bold black;
        border-color: violet;
        color: yellow;
        border-radius: 5px;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        box-shadow: 0px 0px 35px rgba(0,0,0,0.6);
        cursor: pointer;
        padding: 100px 80px;
        top: -260px;

    }
    
    input[type='email']{
        background-color:pink;
        outline: none;
        display: inline-block;
        width: 65%;
        padding: 10px;
        border: 2px solid transparent;
        border-radius: 5px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-shadow: 0 7px 30px #f35464;
        border: 2px solid purple;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight:400;
        color: red;
    }
    
    input[type='email']:focus{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight:400;
        border: 2px solid red;
        border-color: violet;
        box-shadow: 0 7px 30px #f35464;
        color: red;
    }
    
    #newsletter-button{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight:400;
        text-decoration: none;
        border-radius: 5px;
        border-color: violet;
        width: 27%;
        display: inline-block;
        padding: 8px;
        background: yellow;
        text-align: center;
        border: 2px solid transparent;
        box-shadow: 0 7px 30px #f35464;
        border: 2px solid red;
        color: red;
    }
    #button:hover{
        border: 2px solid rgb(23, 80, 235);
    }
    
    @media screen and (max-width: 736px){
        input[type='email']{
            display: block;
            width: 100%;
        }
        #button{
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -o-box-sizing: border-box;
            -ms-box-sizing: border-box;
            width: 100%;
            display: block;
            margin-top: 5px;
        }
    }
/* Interactive Human Body */

.human-body {
    width: 207px;
    position: relative;
    padding-top: 240px;
    height: 260px;
    display: block;
    margin: 40px auto;
    top: 0px;
    flex: left 20px;

}
.human-body svg:hover {
    cursor: pointer;
}
.human-body svg:hover path {
    fill: blue;
}
.human-body svg {
    position: absolute;
    left: 50%;
    fill: palevioletred;
}
.human-body svg.head {
    margin-left: -28.5px;
    top: -6px;
}
.human-body svg.shoulder {
    margin-left: -53.5px;
    top: 69px;
}
.human-body svg.arm {
    margin-left: -78px;
    top: 112px;
    
}
.human-body svg.cheast {
    margin-left: -43.5px;
    top: 88px;
}
.human-body svg.stomach {
    margin-left: -37.5px;
    top: 130px;
}
.human-body svg.legs {
    margin-left: -46.5px;
    top: 205px;
    z-index: 9999;
}
.human-body svg.hands {
    margin-left: -102.5px;
    top: 224px;
}
#area {
    display: block;
    width: 100%;
    clear: both;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-family: Courier New;
    color: #a5a5a5;
}

#area #data {
    color: black;
}

/* sidenav */

.sidenav {
    left: -200px;
    width: 200px;
    height: 100%;
    position: absolute;
    background-color: black;
    transition: .5s;
}
.sidenav a{
    color: white;
    font-size: 20px;
    padding: 15px;
    display: block;
    text-decoration: none;
}
.sidenav a:hover{
    background-color: #f54291;  
}
.sidenav button{
    margin-left: 165px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 30px;
}
.sidenav button:hover{
    cursor: pointer;
    color: #f54291;
}
.content{
    margin-left: 40px;
    margin-top: 20px;
}
.content button{
    font-size: 30px;
}
.content button:hover{
    cursor: pointer;
}
.menu{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}